<div class="row d-flex justify-content-center">
  <h1 class="text-white my-4 text-center">Editing entry</h1>
  <div class="card card-form col-12 col-md-6 col-lg-4 col-xl-3 custom-shadow bg-dark">
    <%= render "form", entry: @entry, readonly: true %>
  </div>
  <div class="form-group mt-4 d-flex justify-content-center">
    <%= link_to "Show this entry", @entry, class: "btn-spread m-1" %>
    <%= link_to "Back to entries", entries_path, class: "btn-spread m-1" %>
  </div>
</div>
