<div class="row header-row">
    <div class="col d-flex justify-content-center">
        <h1>
            <a class="header" href="/">
                <span id="header-big">Healthy</span>
                <span id="header-small">eating</span>
            </a>
        </h1>
    </div>
</div>