<div class="row d-flex justify-content-center">
  <h1 class="text-white text-center my-4">Editing user profile</h1>

  <div class="card card-form col-12 col-md-6 col-lg-5 custom-shadow bg-dark">
    <%= render "form", user_profile: @user_profile %>
  </div>
  <div class="form-group my-4 d-flex justify-content-center">
    <%= link_to "Back to user profiles", user_profiles_path, class: "btn-spread mx-1" %>
  </div>
</div>
